<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Vue.JS</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <!-- <mu-appbar title="Title">
        <mu-icon-button icon="close" slot="left"/>
      </mu-appbar> -->
        <template>
          <div class="layout">
            <div class="header">
              <div class="logo">
                Board Game Deals
              </div>
              <div class="nav">
                <mu-tabs :value="activeTab" @change="handleTabChange" class="tabs">
                  <mu-tab value="tab1" title="Nav One"></mu-tab>
                  <mu-tab value="tab2" title="Nav Two"></mu-tab>
                  <mu-tab value="tab3" title="Nav Three"></mu-tab>
                  <mu-tab value="tab4" title="Nav Four"></mu-tab>
                </mu-tabs>
              </div>
              <mu-text-field icon="search" class="appbar-search-field" slot="right" hintText="Search Games"/>
              <mu-flat-button color="white" label="flat Button" slot="right"/>
            </div>
          </div>
      

      <div v-if="activeTab === 'tab1'">
        <v-container grid-list-md text-xs-center>
          <v-layout row>
            <v-flex d-flex xs3 align-end flexbox v-for="tile, index in list" :key="index">
                <v-card dark height="400px">
                  <v-card-media :src="tile.img_url" height="200px"></v-card-media>
                  <v-card-title primary-title>
                    <div>
                      <p>{{tile.name}}</p>
                    </div>
                  </v-card-title>
                  <v-bottom-nav
                      absolute
                      shift
                      :value="true"
                      :active.sync="e2"
                      :class="{
                        'blue-grey': e2 === 1,
                        'teal': e2 === 2,
                        'brown': e2 === 3,
                        'brown lighten-1': e2 === 4
                      }"
                    >
                    <v-btn dark>
                        <span>Video</span>
                        <v-icon>ondemand_video</v-icon>
                    </v-btn>
                    <v-btn dark>
                      <span>Music</span>
                      <v-icon>music_note</v-icon>
                    </v-btn>
                </v-bottom-nav>
                </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </div>

      <div v-if="activeTab === 'tab2'">
        <h2>Tab Two</h2>
        <p>
          This is Second Tab
        </p>
      </div>

      <div v-if="activeTab === 'tab3'">
        <h2>Tab Three</h2>
        <p>
          This is Third Tab
        </p>
      </div>

      <div v-if="activeTab === 'tab4'">
        <h2>Tab Four</h2>
        <p>
          This is Forth Tab
        </p>
      </div>

      </template>
      </div>
  </body>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
  <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/theme-light.css">
  
  <script>
      var app = new Vue({
        el: '#app',
        data: {
          list:[],
          activeTab: 'tab1'
        },
        created: function () {
          this.loadPage();
        },
        methods: {
          loadPage: function(){
                data_list = [];
                axios.get('http://127.0.0.1:8000/api/boardgamedeals/?format=json')
                  .then(function (response) {
                    response.data.forEach(function(element) {
                      data_list.push(element);
                      console.log(element);
                    });
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
                this.list = data_list
          },
          handleTabChange (val) {
            this.activeTab = val
          }
        }
      })
  </script>
  <script>

  </script>
<style scoped>
.appbar-search-field{
  color: #FFF;
  margin-bottom: 0;
  &.focus-state {
    color: #FFF;
  }
  .mu-text-field-hint {
    color: fade(#FFF, 34%);
  }
  .mu-text-field-input {
    color: #FFF;
  }
  .mu-text-field-focus-line {
    background-color: #FFF;
  }
}

  .gridlist-demo-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .gridlist-demo{
    width: 1000px;
    height: 450px;
    overflow-y: auto;
  }

.layout{
  background-color: rgb(236, 236, 236);
}

.header{
  background-color: #7e57c2;
}

.logo{
  font-size: 24px;
  color: white;
  display: inline-block;
  padding: 10px 20px;
}

.nav{
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 550px);
  margin: 0 auto;
}

.tabs{
  margin: 0 auto;
  width: calc(100% - 150px);
  background-color: rgba(0, 0, 0, 0);
}

</style>